// Global styles
::-moz-selection {
    color: $white;
    background: $primary;
}

::selection {
    color: $white;
    background: $primary;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'circular_stdlight', sans-serif;
    position: relative;

    p {
        @include font-size(0.9rem);
    }
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    color: $primary;
    text-decoration: underline;
    @include transition(ease, 0.3s);

    &:hover,
    &:focus {
        color: $secondary;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'trapmedium', sans-serif;
    text-transform: uppercase;
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.whatsapp {
    @include whatsapp-button;
}

.btn {
    text-transform: uppercase;

    &:hover,
    &:focus {
        text-decoration: none !important;
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn,
.card {
    border-radius: 0;
}

.ico-arrow {
    max-width: 40px;
    vertical-align: baseline;
}

.separador {
    background-color: $primary;
    width: 40px;
    height: 5px;
    margin: 30px auto;
}

table {
    @include font-size(0.8rem);

    tr {
        opacity: 0.3;
        @include transition(ease, 0.3s);

        &:hover,
        &:focus {
            cursor: crosshair;
            opacity: 1;
        }
    }

    .focus {
        opacity: 1;
    }
}

.ico-wa-business {
    width: 16px;
    vertical-align: sub;
    margin-right: 3px;
}

header {
    width: 100%;
    height: auto;
    padding: 15px 0;
    // color: ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include font-size(1.8rem);
    @include transition(ease, 0.2s);

    #logo-navbar {
        width: 200px;
        @include transition(ease, 0.2s);
    }

    .btn {
        @include font-size(0.7rem);

        &:hover,
        &:focus {
            background-color: $primary;

            .ico-wa-business {
                -webkit-filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(349deg) brightness(103%) contrast(103%);
                        filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(349deg) brightness(103%) contrast(103%);
            }
        }
    }

    #mburger {
        color: $primary;
        position: relative;
        top: 4px;

        &:hover,
        &:focus {
            color: $secondary;
        }
    }
}

.navbar-scroll {
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: saturate(300%) blur(32px);
            backdrop-filter: saturate(300%) blur(32px);
    border-bottom: 1px solid $primary;
    padding: 10px 0 !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        -webkit-filter: invert(0%) sepia(5%) saturate(34%) hue-rotate(149deg) brightness(97%) contrast(101%);
                filter: invert(0%) sepia(5%) saturate(34%) hue-rotate(149deg) brightness(97%) contrast(101%);
    }

    #logo-navbar {
        width: 180px !important;
    }

    .btn {
        background-color: rgba(255, 255, 255, 0);
        -webkit-backdrop-filter: saturate(300%) blur(32px);
                backdrop-filter: saturate(300%) blur(32px);

        &:hover,
        &:focus {
            background-color: $primary;

            .ico-wa-business {
                -webkit-filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(349deg) brightness(103%) contrast(103%);
                        filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(349deg) brightness(103%) contrast(103%);
            }
        }
    }
}

#mapa {
    line-height: 0;
    
    p {
        margin: 0;
        padding: 0;
    }
}

#jumbotron {
    @include background('../images/jumbotron/bg-jumbotron.jpg', center, cover);
    /*
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    */
    color: $white;
    min-height: 100vh;
    padding: 40px 0;
    display: flex;
    align-items: center;
}

#problematicas {
    padding-bottom: 100px;

    h1 {
        line-height: 1.8rem;

        span:last-child {
            position: relative;
        }
    }

    .cards {
        @include font-size(0.8rem);
    }
}

.common-dark {
    h1 {
        @include font-size(4rem);
        position: relative;
        display: inline-block;

        &::after {
            position: absolute;
            @include background('../images/common-dark/after-titulo-1.png', center, contain);
            content: "";
            @include absolute-center-y;
            right: -30px;
            width: 100px;
            height: 100px;
        }
    }
}

#paquetes {
    background-color: #ECEAE7;

    .card {
        background: RGBA(var(--bs-primary-rgb), var(--bs-bg-opacity, 1)) !important;
        text-align: center;
        margin: 0 auto;
        padding: 80px 8px;
        @include font-size(0.8rem);
        @include transition(ease, 0.3s);

        p,
        ul {
            color: $secondary;
        }

        &:hover,
        &:focus {
            background: RGBA(var(--bs-primary-rgb), var(--bs-bg-opacity, 0.8)) !important;
        }
    }
}

#faq {
    .accordion-button:focus {
        box-shadow: none;
    }

    .accordion-button:not(.collapsed) {
        background-color: transparent;
    }
}

.cta {
    color: $white;
}

#cta-1 {
    @include background('../images/cta/bg-cta-1.jpg', center, cover);
}

.common-light {
    h1 {
        @include font-size(4rem);
    }

    h2 {
        text-transform: none;
    }

    .swiper-resultados,
    .swiper-podcast,
    .swiper-relacionados,
    .swiper-carrusel {
        width: 100%;
        float: left;
        overflow: hidden;
        padding-top: 60px;
        position: relative;

        .swiper-button-prev,
        .swiper-button-next {
            background-color: $primary;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            top: 30px;

            &::after {
                @include font-size(0.8rem);
                color: $white;
            }
        }

        .swiper-button-prev {
            left: auto;
            right: 50px;
        }

        .swiper-button-next {
            right: 0;
        }
    }
}

footer {
    padding: 100px 0 60px;

    a {
        @include font-size(0.9rem);
        color: $secondary;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $primary;
        }
    }

    .bg-primary {
        &:hover,
        &:focus {
            color: $white;
        }
    }
}

// Hubspot
.hs-form__virality-link {
    display: none !important;
}