// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    header {
        .btn {
            @include font-size(0.8rem);
        }
    }
    .common-dark {
        h1 {
            &::after {
                right: -34px;
                width: 112px;
                height: 112px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .common-dark {
        h1 {
            &::after {
                right: -42px;
                width: 124px;
                height: 124px;
            }
        }
    }

    #soluciones {
        .card {
            padding: 80px 60px;
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .menu {
        width: 40%;
        border-left: 1px solid $primary;

        .menu-contenido {
            width: 90%;
        }
    }

    #jumbotron {
        // min-height: auto;
        padding: 100px 0 60px;

        .thumb {
            height: auto;
        }
    
        .thumb-1 {
            height: 458px;
        }

        @for $i from 2 through 3 {
            .thumb-#{$i} {
                height: 227px;
            }
        }
    }

    #problematicas {
        padding: 60px 0 100px;
        
        h1 {
            line-height: 1.2;
    
            span:last-child {
                top: -10px;
            }
        }
    }

    .common-dark {
        h1 {
            &::after {
                right: -42px;
                width: 132px;
                height: 132px;
            }
        }
    }

    #soluciones {
        .card {
            min-height: 280px;
            padding: unset;

            .card-body {
                flex: unset;
            }
        }
    }

    #mixen-cloud {
        padding: 100px 0;

        h1 {
            @include font-size(6rem);
            line-height: 4rem;

            span {
                @include font-size(2rem);
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    .menu {
        .menu-contenido {
            width: 78%;
        }
    }

    .common-dark {
        h1 {
            &::after {
                right: -42px;
                width: 148px;
                height: 148px;
            }
        }
    }

    #soluciones {
        .card {
            min-height: 234px;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    .menu {
        .menu-contenido {
            width: 62%;
        }
    }
}
